@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body{
    /*background-color: #f2f2f2;*/
    background-color: #EDE7E3;
    margin: 0 auto;

}


#big_title{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #7681B3;
    padding-top: 20px;
    margin-bottom: 0;
}

#content{
    background-color: aliceblue;
    width: 80%;
    height: 60%;
    margin: 0 auto;
    padding: 2%;

    display: flex;
}

.large-img-container{
    width: 40%;
    /*height: 100%;*/
    /*background-color: antiquewhite;*/
    background-color:#EDE7E3;
    margin: 0 auto;
    float:right;

    padding: .05%;
    display: flex;
    justify-content: center;



}
#about-me-container{
    /*height: 20%;*/
    width: 50%;
    float:left;
    position: relative;
    background-color: white;
}

/*#about-me{*/
/*    height: 20%;*/
/*    width: 50%;*/
/*    float:left;*/
/*    position: relative;*/
/*    font-family: 'Open Sans Condensed', sans-serif;*/
/*    font-size: 40px;*/
/*    text-align: center;*/
/*    color: #7681B3;*/
/*    padding-top: 20px;*/
/*    margin-bottom: 0;*/
/*}*/

.me-text{
    /*height: 20%;*/
    /*width: 50%;*/
    float:left;
    position: relative;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #7681B3;
    padding-top: 20px;
    margin-bottom: 0;
}

#me{
    /*height:95%;*/
    /*width: 80%;*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    /*padding: 8%;*/
    /*width: -moz-available;*/
    display:flex;
}





#nav_bar{
    display: table;
    margin: 0 auto;
    font-family: 'Open Sans Condensed', sans-serif;

}



/*ul*/
.horizontal-list{
    background-color: #FFA62B;
    text-align: center;
    padding:0;

}

.horizontal-list:hover{
    background-color: #672526;

}

.horizontal-list li{
    display: inline;
    text-decoration: none;
    padding: 40px;

}
/* nav links*/
.horizontal-list a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}




/**/
/**/
/*PHOTOS*/
/**/
/**/

#img-content{
    display: flex;
    width: 90%;
    margin: 0 auto;
    background-color: aliceblue;

}

.photos{
    width:100%;
    height: auto;
    padding: 2%;
    align-self: center;
}

/*#nav-bar li {*/
/*    display: block;*/
/*    position: relative;*/
/*    float: left;*/
/*    background: #24af15;*/
/*    !* menu background color *!*/
/*}*/

/*#nav-bar li a {*/
/*    display: block;*/
/*    padding: 0;*/
/*    text-decoration: none;*/
/*    width: 200px;*/
/*    !* this is the width of the menu items *!*/
/*    line-height: 35px;*/
/*    !* this is the hieght of the menu items *!*/
/*    color: #ffffff;*/
/*    !* list item font color *!*/
/*}*/

/*#drop-content{*/
/*    display:none;*/
/*}*/

/*#drop-content:hover li{*/
/*    display: block;*/
/*    !* shows sub-sublist on hover *!*/
/*    margin-left: 200px;*/
/*    !* this should be the same width as the parent list item *!*/
/*    margin-top: -35px;*/
/*}*/
/* aligns top of sub menu with top of list item */
/*#nav li li a {*/
/*    font-size: 80%;*/
/*}*/


/*!* smaller font size for sub menu items *!*/

/*#nav li:hover {*/
/*    background: #003f20;*/
/*}*/


/*!* highlights current hovered list item and the parent list items when hovering over sub menues *!*/

/*#nav-bar ul {*/
/*    position: absolute;*/
/*    padding: 0;*/
/*    left: 0;*/
/*    display: none;*/
/*    !* hides sublists *!*/
/*}*/

/*#nav li:hover ul ul {*/
/*    display: none;*/
/*}*/


/*!* hides sub-sublists *!*/

/*#nav li:hover ul {*/
/*    display: block;*/
/*}*/


/*!* shows sublist on hover *!*/

/*#nav li li:hover ul {*/
/*    display: block;*/
/*    !* shows sub-sublist on hover *!*/
/*    margin-left: 200px;*/
/*    !* this should be the same width as the parent list item *!*/
/*    margin-top: -35px;*/
/*    !* aligns top of sub menu with top of list item *!*/
/*}*/
#nav {
    list-style: none inside;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: table;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}

#nav li {
    display: block;
    position: relative;
    float: left;
    background-color: #FFA62B;

    /* menu background color */
}

#nav li a {
    display: block;
    padding: 0;
    text-decoration: none;
    width: 200px;
    /* this is the width of the menu items */
    line-height: 35px;
    /* this is the hieght of the menu items */
    color: #ffffff;
    /* list item font color */
}

#nav li li a {
    font-size: 80%;
}


/* smaller font size for sub menu items */

#nav li:hover {
    background: #003f20;
}


/* highlights current hovered list item and the parent list items when hovering over sub menues */

#nav ul {
    position: absolute;
    padding: 0;
    left: 0;
    display: none;
    /* hides sublists */
}

#nav li:hover ul ul {
    display: none;
}


/* hides sub-sublists */

#nav li:hover ul {
    display: block;
}


/* shows sublist on hover */

#nav li li:hover ul {
    display: block;
    /* shows sub-sublist on hover */
    margin-left: 200px;
    /* this should be the same width as the parent list item */
    margin-top: -35px;
    /* aligns top of sub menu with top of list item */
}
