@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body{
    /*background-color: #f2f2f2;*/
    background-color: #EDE7E3;
    margin: 0 auto;

}


#big_title{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #7681B3;
    padding-top: 20px;
    margin-bottom: 0;
}

#content{
    background-color: aliceblue;
    width: 80%;
    height: 60%;
    margin: 0 auto;
    padding: 2%;

    display: flex;
}

.large-img-container{
    width: 40%;
    /*height: 100%;*/
    /*background-color: antiquewhite;*/
    background-color:#EDE7E3;
    margin: 0 auto;
    float:right;

    padding: .05%;
    display: flex;
    justify-content: center;



}
#about-me-container{
    /*height: 20%;*/
    width: 50%;
    float:left;
    position: relative;
    background-color: white;
}

/*#about-me{*/
/*    height: 20%;*/
/*    width: 50%;*/
/*    float:left;*/
/*    position: relative;*/
/*    font-family: 'Open Sans Condensed', sans-serif;*/
/*    font-size: 40px;*/
/*    text-align: center;*/
/*    color: #7681B3;*/
/*    padding-top: 20px;*/
/*    margin-bottom: 0;*/
/*}*/

.me-text{
    /*height: 20%;*/
    /*width: 50%;*/
    float:left;
    position: relative;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #7681B3;
    padding-top: 20px;
    margin-bottom: 0;
}

#me{
    /*height:95%;*/
    /*width: 80%;*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    /*padding: 8%;*/
    /*width: -moz-available;*/
    display:flex;
}





#nav_bar{
    display: table;
    margin: 0 auto;
    font-family: 'Open Sans Condensed', sans-serif;

}



/*ul*/
.horizontal-list{
    background-color: #FFA62B;
    text-align: center;
    padding:0;

}

.horizontal-list:hover{
    background-color: #672526;

}

.horizontal-list li{
    display: inline;
    text-decoration: none;
    padding: 40px;

}
/* nav links*/
.horizontal-list a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}




/**/
/**/
/*PHOTOS*/
/**/
/**/

#img-content{
    display: flex;
    width: 90%;
    margin: 0 auto;
    background-color: aliceblue;

}

.photos{
    width:100%;
    height: auto;
    padding: 2%;
    align-self: center;
}
